[*.cs]

# Default severity for analyzer diagnostics with category 'Design'
dotnet_analyzer_diagnostic.category-Design.severity = info

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = info

# VSTHRD200: Use "Async" suffix for async methods
dotnet_diagnostic.VSTHRD200.severity = none

# CA1307: Specify StringComparison
dotnet_diagnostic.CA1307.severity = none
